<!doctype html>
<html lang="{{ shop.locale }}" class="fonts-loading">
  <head>
    {%- render 'head' -%}
    {%- render 'javascript' -%}
    {{ content_for_header }}
  </head>
  <body data-section-type="main-body">    
    <div id="ajaxBusy" style="background:#fff;content:'';height:100%;margin:0px;padding:0px;position:fixed;right:0;top:0;width:100%;z-index: 999999;"><div class="loader"></div></div>
    {%- render 'no-script' -%}
    <div class="content" role="main">
      {{ content_for_layout }}
    </div>  
  </body>
</html>